<div style="text-align:center;">
    <form action="/forget" method="post">
        <br>{{value}}
        <br><br>
        <label>Enter Username</label><br><br>
        <input type="text" name="username"><br><br>
        <button type="submit">Submit</button>
     </form>
</div>